*.trx
[Oo]bj/
[Bb]in/
*.suo
*.user
*.vspscc
*.vsp
*.psess
*.pubxml
*.vssscc
_ReSharper.*
_UpgradeReport_Files
*.vssscc
*.vspscc
obj
bin
*.csproj.user
*.resharper.user
*.resharper
*.cache
*~
*.db
[Tt]humbs.db
*.DS_Store
*.bak
*.log
[Dd]ebug*/
[Bb]in
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
[Bb]uild/
node_modules/
packages/
*output.config
queries/
packages_/
tools/
goPost
/.idea
